.btn {
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 4px;

&:hover,
&:focus {
background-color: rgba(33, 150, 243, 0.75);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var($white-cl);
}
&:active {
background-color: rgba(33, 150, 243, 0.5);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}
}

.hero-btn {
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    min-width: 200px;
    padding: 10px 32px;
    background-color: var($accent-cl);
    color: var($white-cl);
}

.potfolio-btn {
    padding: 6px 22px;
    font-weight: 500;
    line-height: 1.625;
    background-color: var($grey-bag-cl);
}
.hero-btn .portfolio-btn {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn {
    display: block;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    min-width: 200px;
    padding: 10px 32px;
    background-color: var($accent-cl);
    color: var($white-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.close-button:hover,
.close-button:focus {
    border-color: var($accent-cl);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}
.close-button:hover .closes,
.close-button:focus .closes {
    fill: var($accent-cl);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-connect {
    position: relative;  
    min-width: 200px;
    padding-top: 10px;
    padding-right: 62px;
    padding-bottom: 10px;
    padding-left: 29px;    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    text-align: center;    
    border-radius: 4px;   
    border: none;   
    color: var($white-cl);
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  

&:hover,
&:focus {
  background-color: var($accent-cl);
}
}