.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.social-icons-svg {
    width: 20px;
    height: 20px;
    fill: var($social-cl);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons-item:not(:last-child) {
    margin-right: 10px;
}