.skills-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.skills-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 4 - 30px);
}
.about {
    padding-top: 94px;
    padding-bottom: 94px;
}
.zadacha {
    font-size: 14px;
    line-height: 1,144;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;  
}
.text {
    margin-bottom: 0px;
    line-height: 1.714;
}
.text:not(:last-child) {
    margin-right: 30px;
}
.grey-box {
    display: flex;
  width: 270px;
  height: 120px;
  background-color: var($grey-bag-cl);
  margin-bottom: 30px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}