.whatwedo {
    padding-top: 0;  
}
.whatwedo-list {
    display: flex; 
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;  
}
.section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1,167; 
    text-align: center;
}
.whatwedo-item {
    padding-bottom: 0;
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 30px);
}
.overlay-disctop {
    position: absolute;
    bottom: 0;

    margin: 0;
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var($white-cl);
}
.inside-section .whatwedo-item {
    position: relative;
}
.inside-section .whatwedo-list {
    display: flex;
    flex-wrap: wrap;
}
.inside-section .li-item:not(:nth-child(3n)) {
    margin-right: 30px;
}
.inside-section .li-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}
.inside-section .link::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 70px;
    background: $imgoverlay;
  
    position: absolute;
    bottom: 0;
}
