html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: var($main-text-cl);
}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
}
p {
    margin-bottom: 50px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
address {
    font-style: normal;
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.link {
    color: inherit;
    text-decoration: none;
}
.link:hover,
.link:focus {
    color: var($accent-cl);
}
.menu {
    display: inline-flex;
}
.menu-item:not(:last-child) {
    margin-right: 50px;
}
.footerlist {
    list-style: none;
}