
    $main-text-cl: #757575;
    $accent-cl: #2196F3;
    $black-cl: #212121;
    $white-cl: #FFFFFF;
    $dark-bg-cl: #2F303A;
    $grey-bag-cl: #F5F4FA;
    $social-cl: #AFB1B8;
    $rgb: rgba(255, 255, 255, 0.6)
    $join-sircle rgba(255, 255, 255, 0.1);
    $bkg-drop: rgba(0, 0, 0, 0.2);
    $imgoverlay: rgba(47, 48, 58, 0.8);
    $back-overlay: rgba(33, 150, 243, 0.9);
    $header-line: #ECECEC;
    $plcholder: rgba(117, 117, 117, 0.5);
