
.hero {
    min-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
     to right,
    rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)
    ),
    url(../img/img.hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero-content {
    text-align: center;
  }
  .title {
    font-weight: 700;
    color: var($black-cl);
  }
  .page-title {
    margin-bottom: 30px;
    max-width: 696px;
    color: var($white-cl);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: auto;
  }